.markdown-body {
  min-width: 200px;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 1020px) {
  body {
    min-width: 0;
  }

  .markdown-body {
    padding: 15px;
  }
}
